.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 10px;
}

.navbar-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
}

.nav-item {
    padding: 0 15px;
    position: relative;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.navbar-search {
    display: flex;
    align-items: center;
}

.navbar-search input, .navbar-search button {
    padding: 5px;
}

.navbar-search button {
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
}

.navbar-auth a, .navbar-signout {
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.dropbtn {
    background-color: #000;
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    left: 0;
}

.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background: none;
    border: none;
    width: 100%;
    box-sizing: border-box;
}

.dropdown-content button:hover {
    background-color: #ddd;
}

.nav-item.dropdown:hover .dropdown-content {
    display: block;
}

.navbar-extra {
    display: flex;
    align-items: center;
}

.navbar-auth .navbar-signout {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
}

.navbar-auth .navbar-signout:hover {
    background-color: #555;
}